@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.cards-container{
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #f5f0e1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-box{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cards-text-box{
    width: auto;
    height: 180px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px 0;
}
.cards-text-box h1{
    color: #ff6e40;
    font-weight: 20px;
    font-weight: 600;
}
.cards-text-box h3{
    font-size: 20px;
    font-weight: 600;
    color: #0a3543;
    text-align: center;
}
.last-box{
    background-color: #ff6e40;
}
.last-box h1{
    color: #fefefe;
}
@media screen and (max-width: 998px){

    .cards-box{
        width: 50%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        background-color: blueviolet;
    }
    .cards-text-box{
        height: 120px;
    }
    .cards-text-box h1{
        font-size: 18px;
    }
    
}
@media screen and (max-width: 498px){

    .cards-box{
        width: 80%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        background-color: blueviolet;
    }
    .cards-text-box{
        height: 120px;
    }
    .cards-text-box h1{
        font-size: 15px;
    }
    .cards-text-box h3{
        font-size: 20px;
        font-weight: 600;
        color: #0a3543;
        text-align: center;
    }
    
}
